/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.json
composer.lock
config/app.php

  @if ($advert->user_id == $userAuth)
                                  <form class="pl-6 pb-4 "  method="POST" action="{{ route('advert.comment') }}">
                                    <input type="hidden" id="user_id" name="user_id" value="{{$userAuth}}">    
                                    <input type="hidden" id="advert_id" name="advert_id" value="{{$advert->id}}">
                                    <input type="hidden" id="parent_id" name="parent_id" value="{{$comFather->id}}">    
                
                                    @csrf
                                      <div >
                                      <textarea  class="w-full   " id="commentary" name="commentary"  placeholder="Escriba su pregunta"></textarea>
                                      </div>
                                      <div class="flex justify-end pt-2">
                                
                                        <button class=" px-4 bg-gray-400 w-28 h-6  rounded-sm text-white hover:bg-green-400">Responder</button>
                                      </div>
                                  </form>
                                  
                               @endif



                                   <div><p class="text-xs bg-ay-500"> {{$comFather->creation_date}}</p></div>

                                                            <form class="pl-6 pb-4 "  method="POST" action="{{ route('advert.comment') }}">
                                <input type="hidden" id="user_id" name="user_id" value="{{$userAuth}}">    
                                <input type="hidden" id="advert_id" name="advert_id" value="{{$advert->id}}">
                                <input type="hidden" id="parent_id" name="parent_id" value="{{$comFather->id}}">    
            
                                @csrf
                                  <div name="ans" class="hidden" >
                                  <textarea  class="w-full   " id="commentary" name="commentary"  placeholder="Escriba su pregunta"></textarea>
                                  </div>
                                  <div class="flex justify-end pt-2">
                                    <button  name="see" id="{{$comFather->id}}" type="button" class=" px-4 bg-blue-400 w-28 h-6  rounded-sm text-white hover:bg-green-400">Responder</button>                         
                                    <button id="send2" name="sendComment" class=" hidden px-4 bg-gray-400 w-28 h-6  rounded-sm text-white hover:bg-green-400">Responder</button>
                                  </div>
                              </form>