/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.json
composer.lock
config/app.php

DELIMITER //
  CREATE TRIGGER TG_AI_ADVERTS AFTER INSERT ON adverts 
  FOR EACH ROW 
  BEGIN 
  DECLARE category varchar(50); 
  DECLARE days INTEGER; 
  DECLARE dias DATE; 
  SELECT adverts.category_id INTO category FROM `adverts` WHERE adverts.id = new.id; 
  SELECT categories_expiration.available_days INTO days FROM `categories_expiration` 
  WHERE categories_expiration.category_id = category; 
  SELECT DATE_ADD('2021-05-05', INTERVAL days DAY) INTO dias ;
   INSERT INTO adverts (expiration_date) VALUES(dias); END; //

DELIMITER ;
